body{
font-family: 'Exo 2', sans-serif;
font-size: 20px;
background:#C8CBFC;
}
.headings{
font-weight:bold;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0; 
    width: 100%; 
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family:Segoe UI;
}
button.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #094247;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

 
.title_box{
margin:10px;
}


.button {
    background-color: Transparent; 
    border: 3px solid black;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2:hover{
 background-color: #C0C0C0;
    color: black;
}

.button1:hover{
 background-color: #C0C0C0;
  border: 3px solid black;
    color: black;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.button1:hover span {
   padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.carousel-inner{
  width:100%;
  max-height: 300px !important;
}

.event{
margin: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
   background: black;
   color:white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 10px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
  background: Transparent;
  color: black;
}

.fa-twitter {
   background: Transparent;
  color: black;
}

.fa-google {
  background: Transparent;
  color: black;
}

.fa-instagram {
   background: Transparent;
  color: black;
}

footer { 
    display: block;
    float:right;
    margin:20px;
}